#add-command-form {
  margin: 10px;
}

.grid-based-table__content, .grid-based-table__header {
  & ul {
    grid-template-columns: 2fr 1fr 4fr 2fr 100px 100px;

    & li {
      & button {
        width: 100%;
      }

      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

