*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid black;
  background: #eeeeee;
  align-self: center;
  cursor: pointer;
  transition: background 150ms ease;
}

button:hover {
  background: #dddddd;
}

button.edit-button:hover {
  background: yellowgreen;
}

button.delete-button:hover {
  background: red;
}

.styled-input-with-label {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    > input {
      width: 300px;
      height: 35px;
      font-size: 1.2rem;
      border: 1px solid black;
    }
}
