body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .login-form, & .reg-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    & label {
      display: flex;
      gap: 10px;
      align-items: center;

      & span {
        width: 150px;
      }

      & input {
        width: 1fr;
      }
    }
  }

  & input, & button {
    min-width: 250px; 
    height: 50px;
  }
}
