.grid-based-table__content, .grid-based-table__header {
  & ul {
    grid-template-columns: 80px 1fr 1fr 80px 1fr 100px;

    & li {
      & button {
        width: 100%;
      }

      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
