.db-entries-table {
  border: 2px solid black;
  margin: 10px;
}

.db-entries-table thead {
  background: #abcdef;
}

.db-entries-table tr td {
  border: 1px solid black;
  padding: 5px 10px;
}


.db-entries-table tr td button {
  width: 100px;
  height: 35px;
  cursor: pointer;
}
