
.users-list-controls {
  padding: 20px;
  height: 100px;
}

.grid-based-table__content, .grid-based-table__header {
  & ul {
    grid-template-columns: 3fr 5fr 4fr 2fr 3fr;
  }
}

#users-list-outer-wrapper {
  height: calc(100% - 100px);
}

.grid-based-table__content {
  & li:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
