#settings-page{
  height: 100%;
  overflow: auto;
}

.settings-form {
  padding: 20px;
  height: fit-content;

  & .settings-form__ainput {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    > .settings-form__ainput__label {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 10px;
      align-items: center;
      border-right: 3px solid gray;
      cursor: pointer;

      > .settings-form__ainput__label__label {
        font-size: 1.2rem;
        overflow-wrap: normal;
        word-wrap: wrap;
      }
    }

    > .settings-form__ainput__label, > .settings-form__ainput__info {
      padding: 2px 10px;
    }

    > .settings-form__ainput__info {
      color: #444;

      display: grid;
      grid-auto-rows: 50px;
      align-items: center;enabled

      > .settings-form__ainput__info__desc {
        font-size: 1.2rem;
      }

      > .settings-form__ainput__info__vars {
        font-size: 0.9rem;
      }
    }

    transition: background-color 100ms ease-in;

    &:hover {
      background-color: rgba(150,150,150,0.2);
    }
  }

  & .settings-form__section, & {
    width: 100%;
  }
}

.settings-form__ainput__label__input {
  > textarea {
    resize: vertical;
    width: 100%;
    max-width: 100%;
    height: 60px;
  }

  > input {
    width: 100%;
    max-width: 100%;
    height: 40px;

  }

  > textarea, > input {
    border: 1px solid black;
    padding: 5px;
  }
}

.settings-form__save-button {
  position: fixed;
  top: 70px;
  right: 30px;

  width: 150px;
  height: 50px;
  
  z-index: 100;
}

.grid-based-table__content, .grid-based-table__header {
  & ul {
    grid-template-columns: 1fr 300px 100px;

    & li {
      & button {
        width: 100%;
      }

      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

#change-channel-form {
  & select, & button {
    border: 1px solid black;
    background: #eeeeee;
    width: fit-content;
    font-size: 1.2rem;
    height: 35px;
    align-self: flex-end;
    padding: 0 10px;
  }

  & select {
    width: 250px;
  }

  > div {
    display: flex;
    gap: 15px;
  }
}
